/node_modules
/database/database.sqlite
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/css
/public/packages
/public/uploads
/public/vendor
/public/fonts
/public/js
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

